@grey:#393D42;
@blue:#0c51c2;
@white:#fff;


.margenes(@top:0px, @bottom:0px){

    margin-top: @top;
    margin-bottom: @bottom;

}

.padding(@top:0px, @bottom:0px, @left:0px, @right){

    	padding-top:@top;
    	padding-bottom:@bottom;
    	padding-left:@left;
    	padding-right:@right;
    
    }
.jumbotron {
    background-color: #0c51c2;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 0px; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: #0c51c2;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .card-car {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-renta {
    width: 100%;
    background-color: #393D42;
    border-color: #393D42;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .footer-address-icon {
    color: #393D42;
    padding-right: 10px; }
  
  .tab-content {
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-enviar {
    border-color: #0c51c2;
    border-radius: 2px; }
  
  .item {
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .item img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px; }
  