$grey:#393D38;
$blue:#0c51c2;
$white:#fff;


@mixin margenes($top, $bottom){

    	margin-top:$top;
    
    	margin-bottom:$bottom;
    
    }
.jumbotron{
    background-color: $blue;
    color:$white;
    // margin-top: 50px;
    @include margenes(50px, 0px);
    }
footer{
    padding: 10px 10px 0 10px;
    background-color: $blue;
    color: $white;
    // margin-bottom: 0px;
    // margin-top: 10px;
    @include margenes(10px, 0px);
    }

.card-car{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    // margin-top: 10px;
    @include margenes(10px, 0px);
    }

.btn-renta{

    width: 100%;
    background-color: $grey;
    border-color: $grey;
    border-radius: 0px;
    @include margenes(10px, 0px);

}    
.footer-address-icon
{
color: $grey;
 padding-right: 10px;
 
}
.tab-content{
    // padding-top: 10px;
    @include margenes(10px, 0px);
}
.btn-enviar{
    border-color: $blue;
    border-radius: 2px;
}
.item {
    display: block;
    width: 100%;
    height: 200px;
    // padding-top: 10px;
    @include margenes(10px, 0px);
}
.item img {
    height: 100%;
    width: 100%;
    // padding-top: 10px;
    @include margenes(10px, 0px);

}
